@page "/"
@using System.Globalization

<PageTitle>Home of count and chat</PageTitle>

<div style="min-height: 90vh; display: flex; flex-direction: column;">
    <div style="flex: 1;">
        <h1>Hello, world!</h1>
        Welcome to our new chat and counter app.
    </div>
    <footer style="margin-top:auto; border-top:1px solid #ccc; padding-top:1rem; color: #666; font-size: 0.9em;">
        Sidan laddades @pageLoadTime
    </footer>
</div>

@code {
    private string pageLoadTime;

    protected override void OnInitialized()
    {
        // Swedish culture: "sv-SE"
        pageLoadTime = DateTime.Now.ToString("G", new CultureInfo("sv-SE"));
    }
}
